@model Vta.Models.Entity

<div class="form-group hidden">
    @Html.LabelFor(model => model.Created, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Created, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Created, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group hidden">
    @Html.LabelFor(model => model.CreatedBy, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.CreatedBy, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.CreatedBy, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group hidden">
    @Html.LabelFor(model => model.Modified, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Modified, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Modified, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group hidden">
    @Html.LabelFor(model => model.ModifiedBy, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.ModifiedBy, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ModifiedBy, "", new { @class = "text-danger" })
    </div>
</div>
